.logo-container {
    position: absolute;
    top: 10px; /* Ajuste a distância do topo conforme necessário */
    left: 10px; /* Ajuste a distância da esquerda conforme necessário */
}
.logo-container img {
    width: 40px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da altura automaticamente */
}

.botoes-container {
    text-align: center; /* Alinha os elementos filhos ao centro */
}

a.botao {
    display: inline-block;
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    background-color: #ff7300;
    border-radius: 5px;
    margin: 0 1px; /* Adiciona espaçamento entre os botões */
    border: 2px solid #000; /* Adiciona borda sólida de 2px com cor preta */
}

a.botao:hover {
    background-color: #0056b3;
}

a.botao:active {
    background-color: #003d80;
}

a.botao:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}